@import url('./__title/popup__title.css');
@import url('./__close/popup__close.css');
@import url('./__form/popup__form.css');
@import url('./__text/popup__text.css');

.popup {
  position: fixed;
  z-index: 2;
  width: 358px;
  /* height: 318px; */
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 34px 36px 28px;
}

@media screen and (max-width: 448px) {
  .popup {
    top: 55px;
    left: 0;
    width: calc(100% - 35px);
    padding: 16px 17px 0;
    height: 100%;
  }
}