.header__mobile {
  background-image: url('../../../src/images/menu_black.svg');
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  border-style: none;
  background-color: transparent;
}

@media screen and (min-width: 601px) {
  .header__mobile {
    display: none;
  }
}