
.mobile__close:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .mobile__close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    right: 18px;
  }
}