@import url('./__title/about__title.css');
@import url('./__text/about__text.css');

.about__container {
  max-width: 600px;
  margin: 131px 0 0 0;
}

@media screen and (max-width: 768px) {
  .about__container {
    max-width: 424px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 448px) {
  .about__container {
    margin-bottom: 80px;
  }
}