@import url('./__button/mobile__button.css');
@import url('./__link/mobile__link.css');

.mobile__nav {
  display: flex;
  flex-direction: column;
  margin: 55px 0 0;
  padding: 0 16px;
  box-shadow: inset  0px 1px 0px rgba(255, 255, 255, 0.2);
}