@import url('./__title/search__title.css');
@import url('./__subtitle/search__subtitle.css');

.search__container {
  margin: 80px 0 64px;
}

@media screen and (max-width: 768px) {
  .search__container {
    margin: 38px 0 48px;
  }
}

@media screen and (max-width: 448px) {
  .search__container {
    margin: 30px 0 122px;
  }
}