@import url('./__container/search__container.css');
@import url('./__form/search__form.css');

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 79px;
}

@media screen and (max-width: 768px) {
  .search {
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 448px) {
  .search {
    margin-bottom: 104px;
    padding: 0 16px;
  }
}