@import url('./card/card.css');

.result__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 64px 0;
}

@media screen and (max-width: 768px) {
  .result__container {
    margin: 32px 0;
  }
}

@media screen and (max-width: 448px) {
  .result__container {
    margin-bottom: 15px;
  }
}