@import url('./header/header.css');
@import url('./footer/footer.css');
@import url('./result/result.css');
@import url('./saved/saved.css');
@import url('./mobile/mobile.css');

.page {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
}

.active {
  display: flex;
}

.overlay {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay-reg {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay-mobile {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.active {
  display: flex;
}